## <b>Listas, Tuplas y Diccionarios</b>

1. Crea unha lista de N elementos, dato que se
pide por teclado, e a continuación enchese de
números enteiros aleatorios entre 1 e 10.
Posteriormente mostra a lista e o número que
máis se repite.

In [1]:
import random
from collections import Counter

n= int(input("Cantos elementos queres?: "))

l=[]

for i in range (n):
    
    l.append(random.randint(1,10))

print(str(l))

c=Counter(l)
print("O elemento máis repetido é: ",max(c,key=c.get))

Cantos elementos queres?:  20

[5, 10, 9, 9, 3, 3, 2, 3, 5, 7, 9, 7, 8, 7, 7, 10, 3, 8, 7, 1]
O elemento máis repetido é:  7

---

2.Almacenar en dúas tuplas os nomes de 8
empregados ou empregadas dunha empresa e dos
seus salarios, respectivamente. A continuación:
-> Mostrar a tupla dos nomes e a tupla dos
salarios.
-> Mostrar o nome dos empregados con maior e
do menor salario.

In [2]:
empleados=["Antonio","Pablo","Carlos","Jaime","Sara","Laura","Paula","Ana"]
salarios=[1500,1200,2000,3400,600,1000,1350,1280]

print(empleados)
print(salarios)

for i in range(len(empleados)):
    print(empleados[i], salarios[i])

mayor=0
pos=0

for i,salario in enumerate(salarios):
    if salario>mayor:
        mayor=salario
        pos=i

menor=salarios[0]
pos2=0

for i,salario in enumerate(salarios):
    if salario<menor:
        menor=salario
        pos2=i

print("El de mayor salario es ",empleados[pos]," y cobra ",mayor)

print("El de menor salario es ",empleados[pos2]," y cobra ",menor)

['Antonio', 'Pablo', 'Carlos', 'Jaime', 'Sara', 'Laura', 'Paula', 'Ana']
[1500, 1200, 2000, 3400, 600, 1000, 1350, 1280]
Antonio 1500
Pablo 1200
Carlos 2000
Jaime 3400
Sara 600
Laura 1000
Paula 1350
Ana 1280
El de mayor salario es  Jaime  y cobra  3400
El de menor salario es  Sara  y cobra  600

---

3. Codifica unha función que reciba unha cantidade de N
iteracións solicitadas por teclado onde cada una
representen a suma dunha tirada de 2 dados.
A continuación, grava os resultados nun dicionario
da forma o seguinte:
Resultado = {‘Dos’: 3, ‘Tres’: 1, …,’Doce’:3}
Onde 3, 1 e 4 representen o número de veces que sae
cada valor. Mostrar por pantalla.

In [3]:
import random

dados={2:0,3:0,4:0,5:0,6:0,7:0,8:0,9:0,10:0,11:0,12:0}

lanzamientos=int(input("Escribe cantas veces queres que se lancen os dados: "))

for i in range(lanzamientos):
    numDado1=random.randint(1,6)
    numDado2=random.randint(1,6)
    jugada=numDado1+numDado2
    dados[jugada]+=1
    print(jugada)
print(dados)

Escribe cantas veces queres que se lancen os dados:  3

5
8
5
{2: 0, 3: 0, 4: 0, 5: 2, 6: 0, 7: 0, 8: 1, 9: 0, 10: 0, 11: 0, 12: 0}

---

4. Constrúe unha dicionario que almacene
as temperaturas das cidades galegas de
Vigo, A Coruña, Ourense, Pontevedra,
Lugo e Ferrol.
A continuación, solicita por teclado una
cidad e modificar o seu valor de
temperatura

In [4]:
dict={"vigo":0.0,"coruña":0.0,"ourense":0.0,"pontevedra":0.0,"lugo":0.0,"ferrol":0.0}
print(dict)
cidade=input("Introduce o nome da cidade:")
cidade.lower()
temperatura=float(input("Introduce a temperatura que ten:"))

dict[cidade]=temperatura
print(dict)

{'vigo': 0.0, 'coruña': 0.0, 'ourense': 0.0, 'pontevedra': 0.0, 'lugo': 0.0, 'ferrol': 0.0}

Introduce o nome da cidade: coruña
Introduce a temperatura que ten: 15

{'vigo': 0.0, 'coruña': 15.0, 'ourense': 0.0, 'pontevedra': 0.0, 'lugo': 0.0, 'ferrol': 0.0}

---